html{
	font-size: 18px;	
}

.bold{
	font-weight: bold;
}

.grey{
	color: grey;
}
	
	
/*Header*/
header .desktop{
	display: flex;
	width: 100%;
	height: 3.5rem;
	border: solid 2px blue;
	justify-content: space-around;
	align-items: center;
}

header .mobile{
	display: none;
}

header .push{
	flex: 1 1 auto;
}

header .left{
	display: flex;
	align-items: center;
}

.left img{
	height: 3rem;
	padding: 0.5rem;
}

.left span {
	font-size: 2rem;
	padding-left: 0.4rem;
}

header .right{
	margin-right: 2rem;
	padding: 0.5rem;
}

@media only screen and (max-width: 470px){
	header .desktop{
		display:none;
	}
	
	header .mobile{
		display: flex;
		width: 100%;
		height: 2rem;
		align-items: center;
		justify-content: space-around;
	}
}

	/*Main*/
/*panel 1*/
#panel1{
	width: 100%;
	height: 50rem;
	display: flex;
	border: solid 2px green;
	align-items: center;
	background-color: beige;
}

.image{
	padding: 2rem;
}

main .context{
	width: 90%;
	height: 83%;
	border: dashed 2px blue;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-flow: column wrap;
	margin-right: 2rem;
	background-color: white;
}

.context h1{
	font-size: 4rem;
}

.context h3{
	font-size: 2rem;
}

.context .button{
	width: 60%;
	height: 8rem;
	background-color: brown;
	color: beige;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}