 html{
 	font-size: 18px;	
 }
 
 .bold{
 	font-weight: bold;
 }
 
 .grey{
 	color: grey;
 }
 

 .d{
	display: flex;
}


 .m{
	display: none;	
}
 	
 /*Header*/ 

 .desktop-nav{
 	display: flex;
 	width: 100%;
 	height: 3.5rem;
 	border: solid 2px blue;
 	justify-content: space-around;
 	align-items: center;
 }
  
 header .push{
 	flex: 1 1 auto;
 }
 
 header .left{
 	display: flex;
 	align-items: center;
 }
 
 .left img{
 	height: 3rem;
 	padding: 0.5rem;
 }
 
 .left span {
 	font-size: 2rem;
 	padding-left: 0.4rem;
 }
 
 header .right{
 	margin-right: 2rem;
 	padding: 0.5rem;
 }
	

  	/*Main*/
  /*panel 1*/
.center{
	display: flex;
	flex-direction: column;
	
}
  
  
 #panel1{
  	width: 100%;
  	height: 50rem;
  	display: flex;
 	border: solid 2px green;
 	align-items: center;
  	background-color: beige;
  }
  

 #panel1.image{
  	padding: 2rem;
  }
  

 #panel1 .context{
  	width: 90%;
  	height: 83%;
  	border: dashed 2px blue;
 	display: flex;
 	align-items: center;
 	justify-content: space-around;
 	flex-flow: column wrap;
 	
  	background-color: white;
  }
  

 #panel1 h1{
  	font-size: 3rem;
  }
  

 #panel1 h3{
  	font-size: 1rem;
  }
  

 #panel1 .button{
  	width: 60%;
  	height: 6rem;
  	background-color: brown;
 	color: beige;
 	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 2rem;
 }
 
 /*Panel 2*/
#panel2{
	width: 100%;
	height: 52rem;
	display: flex;
	border: solid 2px blue;
	align-items: center;
}

#panel2 .left{
	border: dashed 2px green;
	width: 60%;
	height: 48rem;
	display: flex;
	flex-direction: column;
}

#panel2 .left .image{
	padding-right: 1rem;
	margin: 0.5rem;
	border: solid 2px green;
}

#panel2 .left .image img{
	width: 100%;
	height: auto;	
}	

#panel2 .left .context {
	display: flex;
	align-items: center;
	flex-direction: column;
	border: solid 1px orange;
}

#panel2 .left .context h1{
	font-size: 2.2rem;
	line-height: 1.2;
	
}

#panel2 .left .context p{
	font-size: 0.8rem;
	line-height: 1.8;
}

#panel2 .left .context h4{
	line-height: 2;
}

/*===========================================================================*/
#panel2 .right{
	border: dashed 2px red;
	width: 40%;
	height: 48rem;
}
 
 /*------------------------------------------mobile-------------------------------------------------------------------------------------------------------------------*/ 
	
  @media only screen and (max-width: 470px){
	.d{
 		display:none;
 	}
 	
	.m{
 		display: flex;
 	}	
/*-----------Header----------------------------------*/
	.mobile-nav{
		display: flex;
 		width: 100%;
 		height: 2rem;
 		align-items: center;
 		justify-content: space-around;
		background-color: beige;
		padding: 0.5rem;
	}
	
	.mobile-nav span{
		padding: 0.25rem;
		background-color: yellow;
		width: 2rem;
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 1em 1em;
	}
	/*Body*/ 
/*--------Panel1--------------------*/
	#mpanel1{
 		background-color: beige;
 	}
 	
 	#mpanel1 img{
 		width: 100%;
 		margin-bottom: 1rem;
 	}
 	
 	#mpanel1 .context{
 		display: flex;
 		flex-flow: row wrap;
 		align-items: center;
 		justify-content: center;
 	}
 	
 	#mpanel1 h1{
 		font-size: 3rem;
 		padding: 1rem;
 	}
 
 	#mpanel1 h3{
 		font-size: 1.25rem;
 		line-height: 1.1;
 	}
 	
 	#mpanel1 .button{
 		width: 14rem;
 		height: 5rem;
 		background-color: brown;
 		color: beige;
 		display: flex;
		align-items: center;
 		justify-content: center;
 		font-size: 3rem;
		margin-top: 2rem;
	}
 }